<header class="home-page">
    <div class="top">
        <a href="/contacts" class="button btn-host fancy" ><%=t :btn_host%></a>

    </div>

    <div class="center">

      <div class="content">

        <div class="logo-container">
          <img src="<%=image_path('logo-white.png')%>" class="logo"/>
        </div>

        <div class="slogan">
          <h3><%=t :slogan_1%><br><%=t :slogan_2%></h3>
        </div>

        <div class="learn">
          <a class="fancy button btn-learn" data-fancybox-type="inline" href="../learn_more/"><%=t :btn_learn%></a>
        </div>

        <div class="social">

            <a href="https://www.facebook.com/ezycities/" target="_blank"><img src="<%=image_path('facebook-logo.png')%>" class="social-img"/></a>
            <a href="https://twitter.com/ezycities" target="_blank"><img src="<%=image_path('twitter-logo.png')%>" class="social-img"/></a>

        </div>

      </div>


    </div>

    <div class="bottom">
      <div class="bottom-aligner"></div>
      <p> main@ezycities.com | Copyright &copy; 2016 <br> <%=t :copy%></p>
    </div>

  </header>
