<body>
  <header class="home-page">
    <div class="top">
      <a href="/" class="button btn-back"><%=t :btn_back%></a>
      <a href="/learn_more" class="button btn-host" ><%=t :btn_learn%></a>
    </div>
    <div class="center">
      <div class="content">
        <div class="message">
          <h1><%=t :thank%></h1>
          <p class="bigger"><%=t :thank_1%></p>
          <p><%=t :thank_2%></p>
        </div>
        <div class="social">

            <a href="https://www.facebook.com/ezycities/" target="_blank"><img src="<%=image_path('facebook-logo.png')%>" class="social-img"/></a>
            <a href="https://twitter.com/ezycities" target="_blank"><img src="<%=image_path('twitter-logo.png')%>" class="social-img"/></a>

        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-aligner"></div>
      <p> main@ezycities.com | Copyright &copy; 2016 <br><%=t :copy%></p>
    </div>
  </header>
</body>
