<header class="home-page">
  <div class="top">
      <a href="/" class="button btn-back" ><%=t :btn_back%></a>
      <a href="/contacts" class="button btn-host" ><%=t :btn_host%></a>
  </div>
  <div class="learn-more center" >
    <div class="content">
      <div class="title">
        <h3><%=t :learn%></h3>
      </div>

      <div class="text">
          <p><%=t :paragraph_1%></p>
          <p><%=t :paragraph_2%></p>
          <p><%=t :paragraph_3%></p>
          <p><%=t :paragraph_4%></p>
          <p><%=t :paragraph_5%></p>
          <p><%=t :paragraph_6%></p>
      </div>

    </div>
  </div>


    <div class="bottom">
      <div class="bottom-aligner"></div>
      <p> main@ezycities.com | Copyright &copy; 2016 <br> <%=t :copy%></p>
    </div>
</header>
